

/*ARCHIVO DE ESTILOS PRINCIPAL*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@500;600&display=swap");

/*==================================================== FORMATO GENERAL=======================================================*/

body {
    background-color: rgb(255, 255, 255);
    font-family: "Raleway", sans-serif;
}

main {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
}

.carta,
.contact,
.about,
 h1 {
    text-align: center;
    font-family: "Kaushan Script", cursive;
    font-size: 40px;
    color: #f39422;
}

html {
    box-sizing: content-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body, html {
    overflow-x: hidden;
}

/*====================================================MENU=======================================================*/
.padre {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    overflow: hidden;
}

a {
    text-decoration: none;
}

header{
    width: 100%;
    position:fixed;
    z-index: 1;
    box-shadow: inset 0 0 5px 0 #f9f9fa;
    background-color: #000000;
}

.menu {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    align-items: center;
    border-bottom: 1px solid rgba(255, 255, 255, 0.5);
    justify-content: right;
    margin-right: 5%;

}

.nav a {
    color: #f3f3fa;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.nav a:hover{
    background-color: #353564;
    border-radius: 3px;
    background-position: 100% 0;
  }
  
.fa-brands {
    font-size: 25px;
}


@media (max-width: 579px) {
    header .menu {
        display: block;
        justify-content: center;
    }
    .nav{
        display: flex;
        align-items: center;
        width: 100%;
        justify-content: center;
    }

    .nav a {
        font-size: 12px;
    }
    .margen-interno {
        padding: 0px 25px;
        justify-content: center;
    }
    
   
}

@media screen and (min-width: 580px) and (max-width: 750px) {
    .nav a {
        font-size: 12px;
        margin-left: 12px;
    }
    .margen-interno{
        padding: 0px 20px;
    }

    .logo{
        text-align: center;
    }

    .social p{
        font-size: 15px;
    }

    .social a {
        display: flex;
        align-items: center;
    }
   
}
/*====================================================BANNER=======================================================*/

.banner {

    padding-top: 8%;
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(13, 22, 33, 255);
    background-image:  linear-gradient(to bottom, rgba(0, 0, 0, 0), rgba(0, 0, 0, 1)), url("../img/backgrounds/anderson.png");
    background-size: cover;
    overflow: hidden;
    
}

.banner img {
    width: clamp(300px, 100vw, 300px);
    border-radius: 50%;
    object-fit: cover;
}

.card {
  position: relative;
  border-top: 2px solid rgb(245, 168, 3);
  border-right: 2px solid rgb(241, 61, 6);
  border-bottom: 2px solid rgb(231, 89, 6);
  border-left: 2px solid rgba(101, 5, 139, 0.979);
  justify-content: center;
  align-items: center;
  padding: 0%;
  border-radius: 50%;
}

.punto-luz {
    position: absolute;
    width: 6px;
    height: 6px;
    background-color: white;
    border-radius: 50%;
    animation: orbit2 3s linear infinite; /* Ajusta la duración según sea necesario */
    z-index: 1;
    box-shadow: 0 0 15px 5px rgba(255, 255, 255, 0.7); /* Ajusta el tamaño y opacidad de la cola de luz */

  }

@keyframes orbit2 {
	from { 	transform: rotate(0deg) translateX(150px) rotate(0deg); }
	to   {  transform: rotate(360deg) translateX(150px) rotate(-360deg); }
}


.banner_tex h1 {
  font-family: 'Kaushan Script', cursive;
  color: #fff;
  margin-left: 10%;
}

.banner_tex h2 {
    font-family: 'Kaushan Script', cursive;
    color: #F39422;
    font-size: clamp(35px, 12vw, 50px);
    margin-left: 10%;
}

.banner_tex h3 {
    color: #fff;
    font-size:110%;
    margin-left: 10%;
  }

@media screen and (min-width: 580px) and (max-width: 1046px) {
    .banner {
        flex-direction: column;
        justify-content: center;
    }
    .banner p {
        font-size: 25px;
    }
}

@media (max-width: 580px) {

    .banner {
        flex-direction: column;
        justify-content: center;
    }
    .banner p {
        font-size: medium;
    }
    .banner img {
        width: clamp(300px, 30vw, 30px);
    }
}
/*====================================================ABOUT=======================================================*/
.about {
    align-items: center;
    justify-content: center;
    margin-top: -5%;
    margin-bottom: -5%;
    overflow: hidden;
}

.about_image img {
    padding-top: 5px;
    width: clamp(500px, 400vw, 400px);
    border-radius: 50%;
}

.about_text {
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 3%;
    width: 50%;
    
}
.about_text p {
    align-items: center;
    margin-left: 30px;
    gap: 10px;
}
.about p {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 17px;
    text-align: justify;
    color: rgba(31, 26, 26, 0.904);
}

@media (max-width: 766px) {
    .about_text {
        padding-top: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
        padding-right: 25px;
        justify-content: center;
    }
}

@media (max-width: 412px) {
    .about p{
        font-size: medium
   ;}
   .about h1{
    font-size: 30px;
   } 
}

/*====================================================PROJECTS AND HOBBIES=======================================================*/
.carta, 
.hobbies {
    align-items: center;
    justify-content: center;
    margin-top: -2px;
    width: 100%;
    height:auto;
    background-color: #000000;
}

.carta{
display:flex;
flex-direction: column;
margin: 0 auto; /* Centra el contenedor de la carta */
padding: 0;
}

.hobbies {
background-color: rgb(255, 255, 255);
margin-top: -5%;

}

.hobbies_text{
    padding-top: -10% ;
    padding-bottom: 1% ;
}

.titulocarta {
    text-align: center;
    padding-top: 3%;
    padding-bottom: 3%;
}

.titulocarta-animacion {
    animation-duration: 3s;
    animation-name: tituloAnim;
}

@keyframes tituloAnim {
    from {
        margin-right: -100%;
        width: 300%;
    }
    30% {
        margin-left: -50%;

        width: 100%;
    }

    to {
        margin-left: 0%;
        width: 100%;
    }
}

.tarjetas-container-projects,
.tarjetas-container-hobbies {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 80%;
    align-items: center;
}

.tarjetas-container-projects,
.tarjetas-container-hobbies {
    position: relative;
    margin: 0 auto;
}

.tarjeta {
    border: 1px solid #ccc;
    border-radius: 10%;
    margin-right: 30px;
    width: 330px;
    margin-bottom: 20px;
    margin-top: 20px;
    align-items: center;
    position: relative;
    text-align: center;
    transition: all 50ms ease-out;
    top: 0;
    bottom: 0;

}

.tarjeta:hover {
    cursor: pointer;
    transform: scale(1.025); 
    z-index: 10;
}

.tarjeta img {
    width: 100%;
    height: auto;
    border-radius: 10%;
}

.tarjeta-luz {
    height: 6px ;
    width: 6px ;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: #f9f9fa;
    border-radius: 50%;
    position: absolute;
    animation: orbit3 5s linear infinite; 
    box-shadow: 0 0 2px 2px rgba(255, 255, 255, 0.8); /* Ajusta el tamaño y opacidad de la cola de luz */
  }

.slick-dots {
background-color: transparent;   
}

/*color de los puntos inactivos */
.slick-dots li button:before {
    background-color: white;
    padding: 0%;
    margin: 0%;
    border-radius: 50%;
    font-size:small;
}

/* color de los puntos activos */
.slick-dots li.slick-active button:before {
    color: #fff; /* Color de los puntos activos */
}

.slick-slide {
    position: relative;
}

.slider-container {
    scroll-snap-type: x mandatory;
  }
@keyframes orbit3 {
    0% {
        top: -2%;
        left: 0;
      }
      25% {
        top: 0;
        left: 99%;
      }
      50% {
        top: 99%;
        left: 99%;
      }
      75% {
        top: 99%;
        left: 0;
      }
      100% {
        top: 0;
        left:-2%;
      }
    }


@media (max-width: 429px) {
    .tarjetas-container{
        margin-left: 12%;
    }

    .carta {
        padding-bottom: 70px;
    }
}


/*====================================================CURSES AND CONFERENCES=======================================================*/
.carta-light{
    background-color: #fff;
}
.titulocarta-ligth{
    margin-top: -5%;
}

/*====================== FOOTER ======================*/

footer {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    height: auto;
    background-color:#000000;
    bottom: 0%;
    margin-top: -1px;
    overflow: hidden
}

footer h1 {
    color: #ffffff;
    text-align: center;
    font-size: clamp(9px, 5vw, 16px);
    padding: 20px;
}

footer h2 {
    color: #ffffff;
    text-align: center;
    font-size: clamp(9px, 5vw, 16px);
    padding: 20px;
    font-weight: bold;
    font-family:Verdana, Geneva, Tahoma, sans-serif
}


@media (max-width: 412px) {
    footer h2 {
        font-size: small;
    }

}


