/*ARCHIVO DE ESTILOS PRINCIPAL*/

@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@100&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;600&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Kaushan+Script&family=Poppins:wght@500;600&display=swap");

/*==================================================== GENERAL FORMAT =======================================================*/

body {
    background-color: rgb(255, 255, 255);
    font-family: "Raleway", sans-serif;
    display: flex;         /* Usar flexbox para controlar el flujo de los elementos */
    flex-direction: column;/* Los elementos van a apilarse en dirección vertical */
    justify-content: space-between;
}


main {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    text-align: center;
    color: white;
}

html {
    box-sizing: content-box;
}

*, ::after, ::before {
    box-sizing: inherit;
}

body, html {
    overflow-x: hidden;
    height: 100%;
    margin: 0; 
}

/*====================================================MENU=======================================================*/
.padre {
    width: 100%;
    display: flex;
    height: auto;
    justify-content: center;
    overflow: hidden;
}

a {
    text-decoration: none;
}

header{
    width: 100%;
    position:fixed;
    z-index: 1;
    background-color: #000000;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #000000;
    padding: 2px 2px;
    color: #fff;
  }

.menu-right {
    background: rgba(0, 0, 0, 0.1);
    display: flex;
    flex-flow: row nowrap;
    height: 50px;
    align-items: center;
    justify-content: right;
    margin-right: 5%;
}

.menu-left {
    display: flex;
    align-items: center;
    justify-content: left;
    width: 50%;
    margin-left: 4.5%;
  }
  
.menu-title {
    font-family: 'Roboto', sans-serif;
    color: #fff;
    font-size: 18px;
    font-weight: bold;
  }  

.nav a {
    color: #f3f3fa;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bold;
}

.nav a:hover{
    background-color: #353564;
    border-radius: 3px;
    background-position: 100% 0;
  }
  
.fa-brands {
    font-size: 25px;
}


@media (max-width: 579px) {
    header .menu {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .text {
        flex-grow: 1;  /* Hace que el contenido ocupe el espacio restante */
        padding: 30px 0px 5px 0px;
        text-align: center; /* Asegura que el texto dentro esté centrado */
    }

    .menu-left, .menu-right {
        width: 100%; 
        display: flex;  /* Agregar display:flex */
        justify-content: center;  /* Centrar los contenidos */
        text-align: center;  /* Asegura que el texto esté centrado */
    }

    .menu-title {
        font-size: 20px;
    }

    .nav {
        display: flex;
        justify-content: center;
        width: 100%;
    }

    .nav a {
        font-size: medium;
    }


}

@media screen and (min-width: 580px) and (max-width: 750px) {
    .nav a {
        font-size: medium;
        margin-left: 12px;
    }
    .margen-interno{
        padding: 0px 20px;
    }
    }
   
/*====================================================PROJECTS=======================================================*/

.text {
    font-family: Arial, sans-serif;
    text-align: justify;
    line-height: 1.6;
    margin: 70px 60px 0px 60px; 
}

h1 {
  font-family:Arial, Helvetica, sans-serif;
  color: rgb(255, 255, 255);
  font-size: large;
  margin-bottom: 2%;
  margin-top: 4%;
  margin-left: 2%;
  width: 100%;
  font-weight: bold;
}

h2 {
    font-weight: bold;
    font-size:large;
}

h3 {
    font-weight: bold;
    font-size:medium;
    text-indent: -1.5em; /* Elimina el sangrado para la primera línea */
}

p {
    margin-bottom: 10px;

}

.section-title {
    font-weight: bold;
    margin-top: 20px;
}

.section-content {
    margin-left: 20px;
}

ul {
    list-style-type: decimal;
}

ul ul {
    list-style-type: disc;
}

.top-wave{
    margin-bottom: 0px;
}

@media screen and (min-width: 580px) and (max-width: 1046px) {
    .project {
        flex-direction: column;
        justify-content: center;
    }
    .text {
        font-size: 15px;
    }
}

@media (max-width: 580px) {

    .project {
        flex-direction: column;
        justify-content: center;
    }
    .text {
        font-size: small;
    }
}

/*-------------------------------------- Metodology ------------------------------------------------------*/

/* Estilos básicos del contenido de Methodology */
.methodology-container {
    margin: 10px 0;
}

.toggle-methodology {
    background-color: transparent;
    border: none;
    font-size: 16px;
    cursor: pointer;
    display: flex;
    align-items: center;
}

.arrow {
    margin-right: 5px; /* Para crear espacio entre la flecha y el texto */
}

.methodology-content {
    display: none;  /* El contenido estará oculto inicialmente */
    padding: 10px 0;
    background-color: #ffffff;
    margin-top: 10px;
}

/* Agregar margen y algún borde para claridad en la estructura */
.section-content {
    margin-left: 20px;
}

/* Sección de listas con viñetas */
ul {
    list-style: disc;
    padding-left: 30px;
}
 
