
.svg-rotated {
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
  transform: rotate(180deg);
  margin-top: -3px;
}

.svg-vertical {
  display: block;
  width: 100%;
  height: auto;
  line-height: 0;
  margin-bottom: -3px;
}

.wave-container {
  line-height: 0;

}

svg {
    vertical-align: bottom; /* O prueba con top o middle */
}